type atci_service_exec, exec_type, file_type;
type atci_service ,domain;

permissive atci_service;
init_daemon_domain(atci_service)
domain_auto_trans(init, atci_service_exec, atci_service)
