type wlan_device, dev_type;
type gsm0710muxd_device, dev_type;
type ccci_device, dev_type;
type mmcblk_device, dev_type;
type devmap_device, dev_type;
type misc_sd_device, dev_type;
type camera_isp_device, dev_type;
type kd_camera_hw_device, dev_type;
type kd_camera_flashlight_device, dev_type;
type i2c_device, dev_type;
type CAM_CAL_DRV_device, dev_type;
type immvibed_device, dev_type;
type pipe_device, dev_type;
type mnld_device, dev_type;
type mnld_socket, dev_type;
type protect_f_device, dev_type;
type protect_s_device, dev_type;
type atci_service_socket, dev_type;
type aal_als_device, dev_type;
type netdiag_socket, dev_type;
type stpwmt_device, dev_type;
type agps_device, dev_type;
type ttySDIO_device, dev_type;
