type guiext-server_exec, exec_type, file_type;
type guiext-server ,domain;

permissive guiext-server;
init_daemon_domain(guiext-server)
domain_auto_trans(init, guiext-server_exec, guiext-server)
binder_use(guiext-server)

binder_call(system_app, guiext-server)
binder_call(system_server, guiext-server)
binder_call(untrusted_app, guiext-server)
binder_call(surfaceflinger, guiext-server)
binder_call(bootanim, guiext-server)
binder_call(radio, guiext-server)
binder_call(platform_app, guiext-server)


allow guiext-server guiext-server_service:service_manager add;
