type ctl_gsm0710muxd_prop, property_type;
type persist_ril_prop, property_type;
type ctl_emdlogger1_prop, property_type;
type ctl_emdlogger2_prop, property_type;
type audiohal_prop, property_type;
